<div class="navbar-container">
    <nav class="navbar">
      <!-- Image on the far left -->
      <div class="navbar-left">
        <img src="../../../assets/images/Logo.png" alt="Logo" class="navbar-logo">
      </div>
  
      <!-- Centered title -->
      <div class="navbar-center">
        <span class="navbar-title">What to Watch?</span>
      </div>

      <!-- Options on the right -->
      <div class="navbar-right">
        <ul class="navbar-options">
          <li><a routerLink="/library">Library</a></li>
          <li><a routerLink="/movies">Movies</a></li>
          <li><a routerLink="/shows">Shows</a></li>
          <li><a routerLink="/login">Login</a></li>
          <li><a routerLink="/signup">Sign Up</a></li>
        </ul>
      </div>
    </nav>
  </div>
